process {

/* Executor parameters */
//executor='condor'
maxForks = 8
//        errorStrategy='retry'
//errorStrategy = 'ignore'

}

params {

/* parameters needed for chunking */
// variants_per_chunk=50000

/* parameters needed for annotation
@ Luna
*/
vep_cache="~/.vep"
vep_genome_version="GRCh38"
//
// cadd_snv_reference="/media/iao/Barracuda1/Shared/CADD/GRCh38_v1.5/whole_genome_SNVs.tsv.gz"
// cadd_indel_reference="/media/iao/Barracuda1/Shared/CADD/GRCh38_v1.5/InDels.tsv.gz"
// genome_reference="/home/iao/PhD/Databases/VEP/homo_sapiens/95_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
// gnomad_reference="/home/iao/PhD/Databases/gnomAD/v2.1.1/liftover-GRCh38/genomes/variants/all-in-one-vcf/completegenome_gnomAD.vcf.bgz"
// gnomad_coverage_reference="/home/iao/PhD/Databases/gnomAD/v2.1.1/liftover-GRCh38/genomes/coverage/gnomad.genomes.coverage.summary.bed.gz"
// genehancer_reference="/home/iao/PhD/Databases/GeneHancer/GRCh38/GeneHancers_with_genes.bed.gz"
// gwascatalog_reference="/home/iao/PhD/Databases/GWAScat/GRCh38/from_dbSNP_b151/All_20180418_noINFO.GWAScatalog.vcf.gz"
// clinvar_reference="/home/iao/PhD/Databases/clinvar/GRCh38/Clinvar_20190403.vcf.gz"
// mirbase_reference="/home/iao/PhD/Databases/miRBase/GRCh38/miRBase.bed.gz"
// pharmgkb_drug_reference="/home/iao/PhD/Databases/PGKB/VCF/GRCh38/All_20180418_noINFO.PGKB.vcf.gz"
// project_coverage="/home/iao/PhD/Databases/100GMX/76G/coverages/76g_mean_depth_cov.bed.gz"

}
